/* media-queries.css */

/* MOBILE VIEW - 600px to 375px | Below 375px deprecated? */
@media (max-width: 600px) {
/*___HEADER_MOBILE_START___*/
    .navigation {
        display: none;
    }

    .site-header-container {
        padding: 0 4.5rem;
        
    }

    .hamburger-menu-mobile { /* hamburger menu box */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 3rem;
        height: 2.2rem;
        border: none;
        background: none;
        cursor: pointer;
        z-index: 1100;
    }

    .hamburger-menu-mobile-wrapper { /* hamburger menu background */
        display: flex;
        background-color: black;
        padding: .5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 5px;
    }

    .hamburger-menu-mobile .line { /* hamburger menu lines */
        display: block;
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 3px;
    }

    .logo-wrapper {
        width: auto;
        height: 2.2rem;
        padding: 0;
    }
    }
/*___HEADER_MOBILE_END___*/

/*___HERO_START___*/
    .grid-homepage-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(15, 1fr);
        justify-items: center;
        align-items: center;
        padding: 2rem;
        overflow-x: hidden;
    }

    .grid-item-1, .grid-item-2, .grid-item-3, .grid-item-4,
    .grid-item-5, .grid-item-6, .grid-item-7 {
        display: grid;
        grid-column: 1;
        margin-top: 0rem;
    }

    .flex-container-1, .flex-container-2, .flex-container-3, 
    .flex-container-4, .flex-container-5, .flex-container-6,
    .flex-container-7, .flex-container-8, .flex-container-9,
    .flex-container-10 {
        display: flex;
        flex-grow: 0; 
        flex-shrink: 1; 
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        margin-top: 0rem;
    }

    h1 {
        font-size: 5rem;
        text-align: center;
    }

    h2 {
        font-size: 4rem;
        text-align: center;
    }

    .grid-item-1 {
        width: 100%;
    }

/* Hero element */
    .grid-item-2 {
        width: 100%;
    } 
    
    .grid-item-2 .hero-element {
        width: 30rem;
        height: 10rem;
    }

/* Hero image */
    .grid-item-3 {
        grid-row: 3;
        height: 40rem;

        color: aqua;
        font-style: bold;
        border-color: white;
        border-style: dashed;
    }
/*___HERO_END___*/

/* MODULE_1_START */
    .grid-item-4 {
        grid-row: 4;
    }    

    .grid-item-5 {
        grid-row: 5;
    } 

    .grid-item-5 > .flex-container-5 {
        grid-row: 6;
    }

    .grid-item-5 > .flex-container-6 {
        grid-row: 7;
    }

    .grid-item-5 > .flex-container-7 {
       grid-row: 8;
    }

    .grid-item-5 > .flex-container-8 {
        grid-row: 9;
    }
/* MODULE_1_END */

/* MODULE_2_START */
    .grid-item-6 {         
        grid-row: 10;
    }

    .grid-item-6 h2 .highlight {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        color: #6f38c5;
        position: relative;
    }
    

    .grid-item-6 > .flex-container-10 > .module-2-element {
        width: 30rem;
        height: 10rem;
    }

    .grid-item-7 {
        grid-row: 11;
    }

    .grid-item-7 > .flex-container-11 {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(6, auto) !important;
    }

    .grid-item-7 > .flex-container-11 img {
        width: 100%;
        max-width: 100%;
        height: auto;
        transform: scale(2);
        margin-bottom: -6rem; 
    }

    .grid-item-7 > .flex-container-11 > .saturday-night-live,
    .late-night-with-seth-meyers {
        transform: scale(1.5);
    }

    .grid-item-7 > .flex-container-11 > .late-night-with-seth-meyers {
        transform: scale(1.5);
    }
/* MODULE_2_END */
 





/* TABLET VIEW - 768px to 600px @media (min-width: 601px) and (max-width: 768px)*/

/* LAPTOP VIEW - 1201px to 768px @media (min-width: 769px) and (max-width: 1200px) */

/* DESKTOP VIEW - 2000px to 1201px @media (min-width: 1201px) */