html, body { /* LOOK INTO DIFFERENCE */
    background-color: #542746;
    margin: 0;  /* Removes default margin */
    padding: 0;
    height: 100%; /* Ensures the body fills the viewport */
    font-size: 62.5%; /* The 62.5% trick: the font size of the root (HTML) element (1 rem) becomes equal to 10px */
    overflow-x: hidden;
}


/* GRID STRUCTURE */
.grid-homepage-container {
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 1rem;
    grid-template-rows: repeat(15, minmax(0, 1fr)); /*LOOK INTO EXPLINATION */
    grid-template-columns: repeat(4, 1fr);
    padding: 10rem;
    margin: 0 auto; /* Center the container */
    max-width: 100%; /* Ensure it does not exceed viewport */ 
}

/* Apply border-box universally */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*___HERO_START!!___*/
/* Hero_Text */
.grid-item-1 {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 2;
    
    color: white;
    font-size: 4rem;
    max-width: 100%;
    
    width: 75%;
}

.flex-container-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 0; /* Prevents growing beyond the grid item */
    flex-shrink: 1; /* Shrinks to fit within grid item */

    margin-top: 1.75rem;
    
    max-width: 100%; /* Max width of the grid item */
    max-height: 100%; /* Max height of the grid item */
}

.flex-container-1 > h1 {
    font-family: "Fjalla One", serif;
    position: relative;

    padding-bottom: 1rem;
}

.flex-container-1 > h2 {
    font-family: "Roboto", serif;
}

/* Hero_Element */
.grid-item-2 {
    display: grid;
    grid-column: 3;
    grid-row: 1;
    
    max-width: 100%;
    width: 100%;

    position: static; 
}

.flex-container-2 {
    display: flex;
    flex-grow: 0; /* Prevents growing beyond the grid item */
    flex-shrink: 1; /* Shrinks to fit within grid item */

    /* margin-right: 10rem;
    margin-top: -1rem; */
   
    max-width: 100%;
    max-height: 100%;
}

.flex-container-2 > .hero-element {
    max-width: 100%;
    min-width: 20rem; 

    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Prevent distortion */
}

/* Hero_Image */
.grid-item-3 {
    display: grid;
    grid-column: 4;
    grid-row: 2;

    max-width: 100%;
    width: 100%;
    height: 100%;
}

.flex-container-3 {
    display: flex;
    flex-grow: 0; /* Prevents growing beyond the grid item */
    flex-shrink: 1; 
    align-items: flex-start;
    width: 100%; 
}
/*___HERO_END!!___*/

/* MODULE_1_START */
.grid-item-4 {
    display: grid;
    grid-row: 5;
    grid-column: 1 / 3;

    /* margin-top: 30rem; */
}

.flex-container-4 {
    display: flex;
    flex-grow: 0; 
    flex-shrink: 1; 

    font-family: "Fjalla One", serif;
    position: relative;
    color: white;
    font-size: 4rem;

    margin-top: 10rem;
    
    max-width: 100%; 
    max-height: 100%; 
}

.grid-item-5 {
    display: grid;
    grid-row: 9;
    grid-column: 1 / 5;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    gap: 1rem;
}

.grid-item-5 > * {
    margin-top: 30rem;
    min-height: 20rem;
    min-width: 30rem;

    max-width: 100%; /* Max width of the grid item */
    max-height: 100%; /* Max height of the grid item */

    height: 20rem;
    width: 25rem;

    display: flex;
    flex-grow: 1; /* Prevents growing beyond the grid item */
    flex-shrink: 0;

    font-family: "Roboto", serif;

    justify-content: center;
    align-items: center;

}

.flex-container-5 {
    background-color: aqua;
}

.flex-container-6 {
    background-color: red;
}

.flex-container-7 {
    background-color: yellow;
}

.flex-container-8 {
    background-color: green;
}
/* MODULE_1_END */

/* MODULE_2_START */
.grid-item-6 {
    display: grid;
    grid-row: 10;
    grid-column: 1 / 5;

    margin-top: 40rem;
}

.flex-container-9 {
    display: flex;
    flex-grow: 0; 
    flex-shrink: 1; 

    font-family: "Fjalla One", serif;
    position: relative;
    color: white;
    font-size: 4rem;

    margin-top: 10rem;
    /* padding-right: 10rem; */
    
    max-width: 100%; 
    max-height: 100%; 

    justify-content: space-between;
}

.flex-container-10 img {
    max-width: 100%;
    max-height: 40rem;
    
    /* min-height: 200px;
    min-width: 200px;  */

    height: auto; /* Maintain aspect ratio */
    width: 30rem;

    object-fit: contain; /* Prevent distortion */
}

.grid-item-7 {
    display: grid;
    grid-row: 11;
    grid-column: 1 / 5;

    margin-top: 50rem;
}

.flex-container-11 > * {
    height: 100%;
    width: 100%;
}

.flex-container-11 {
    display: flex;
    flex-grow: 0; 
    flex-shrink: 1; 
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
/* MODULE_2_END */

